upstream backend_http {
    {{HTTP_SERVERS}}
}

server {
    listen {{LISTEN_PORT_HTTP}};

    location / {
        proxy_pass http://{{HTTP_SERVERS}};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
